# OS
.DS_Store

# Editors
.vscode/
.idea/

# Build / generated
build/
dist/
*.log
vendor/

# ANTLR generated artifacts
fuente/compilador/generado/
fuente/compilador/gramatica/.antlr/
*.tokens
*.interp

# Reports runtime outputs
reportes/*.tmp
reportes/errores_fase1.json
reportes/errores_semanticos_fase2.json
reportes/tabla_simbolos_fase2.json
reportes/programa_fase4.s
